@use "@/styles/abstracts" as *;

.dropDown {
  position: absolute;
  left: 50%;

  min-width: 9rem;
  transform: translateX(-50%);
  list-style: none;

  @include tablet {
    left: auto;
    right: 0;
    transform: translateX(0);
  }
}

.dropDownItem {
  width: 100%;
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(110%);
  }
}
