@use "@/styles/colors.scss" as c;

.dropDown {
  position: absolute;
  min-width: 8rem;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;

  .dropDownItem {
    button {
      width: 100%;
      padding: 0.6rem;
      margin-top: 0.75rem;
      display: flex;
      align-items: center;
      gap: 0.7rem;
      background-color: var(--color-text-inverted);
      border-radius: 3rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

      &:hover {
        filter: brightness(110%);
      }
    }
  }
}
