@use "../../styles/colors.scss" as c;

.button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border: 0;
  border-radius: 2rem;
  color: white;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: c.$color-hover-button;
  }
}
