@use "../../styles/colors.scss" as c;

.settingsBtn {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: 0;
  color: white;
  background-color: transparent;
  padding: 0.5rem;

  &:hover {
    color: c.$color-primary;
    background-color: c.$color-hover-button;
  }
}
