$primary: #d71921;

$dark-text: #fff;
$dark-background: #14151f;
$dark-hover-button: #2c2f32;
$dark-surface: #000;

$light-text: #111111;
$light-background: #efefef;
$light-hover-button: #caced2;
$light-surface: #fff;
