$primary: #d71921;

$dark-text: #fff;
$dark-background: #14151f;
$dark-hover-button: #2c2f32;
$dark-hover-listitem: #1b1b28;
$dark-surface: #000;
$dark-code-background: #1b1d1f;

$light-text: #111111;
$light-background: #efefef;
$light-hover-button: #caced2;
$light-hover-listitem: #d3d6d9;
$light-surface: #fff;
$light-code-background: #f0f2f5;
