@use "@/styles/mixins.scss" as m;

.userModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem 1rem 0 1rem;
  z-index: 9999;
  background-color: var(--color-bg-base);
  top: 5rem;
  right: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  min-width: 20rem;

  @include m.tablet {
    left: 50%;
    transform: translateX(-50%);
  }

  .avatar {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }

  .listItem {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    width: 100%;
    padding: 1rem;
    border: 0;
    background-color: var(--color-bg-surface);

    &Top {
      margin-bottom: 0.2rem;
      border-radius: 1rem 1rem 0.3rem 0.3rem;
    }

    &Bottom {
      margin-bottom: 1rem;
      border-radius: 0.3rem 0.3rem 1rem 1rem;
    }
  }

  .btn {
    font-size: 0.9rem;
    &:hover {
      color: var(--color-accent-primary);
    }
  }

  .closeBtn {
    margin-left: auto;
  }
}
