.button {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;

  border-radius: 2rem;
  font-size: 1.2rem;

  span {
    transform: translateY(0.05rem);
  }

  &:hover {
    background-color: var(--color-hover);
  }
}
