@use "../../styles/mixins.scss" as m;

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.6rem 1rem;
  background-color: #1b1b28;
  border-radius: 2rem;

  input {
    color: white;
    font-family: "Space Grotesk";
    font-size: 1.05rem;
    outline: none;
    background-color: transparent;
    border: 0;
    width: 10rem;
    transition: width 0.4s ease;
    padding: 0.2rem;
  }

  .stretch {
    width: 20rem;
  }
}

@include m.tablet {
  .inputWrapper {
    .stretch {
      width: calc(100vw - 9.5rem);
    }
  }
}
