@use "@/styles/mixins.scss" as m;

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.6rem 1rem;
  background-color: var(--color-bg-surface);
  border-radius: 2rem;

  input {
    font-size: 1.05rem;
    width: 10rem;
    padding: 0.2rem;
    transition: width 0.4s ease;
  }

  .stretch {
    @include m.desktop {
      width: 20rem;
    }

    @include m.laptop {
      width: 15rem;
    }

    @include m.tablet {
      width: 10rem;
    }
  }
}
