@use "@/styles/abstracts" as *;

.editorInner {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  padding: 1.2rem 0 1rem 1rem;

  background: var(--color-bg-surface);
  border-radius: 1rem;
  overflow-y: hidden;

  @include tablet {
    border-radius: 1rem 1rem 0 0;
    height: 100%;
  }
}

.editorHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    display: block;
    flex: 1;
    width: 100%;
    font-size: 1.75rem;
    outline: none;
    word-break: break-word;
  }

  .closeBtn {
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.scrolled {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.editorBody {
  position: relative;

  min-height: 150px;
  max-height: 92%;
  height: 100%;
  padding-right: 1rem;
  resize: none;

  caret-color: var(--color-accent-primary);
  tab-size: 1;
  outline: 0;
  overflow-y: auto;
}

.editInfo {
  position: absolute;
  right: 1rem;
  bottom: 0;

  padding: 0.45rem;
  background-color: var(--color-bg-surface);
  border-radius: 0.7rem 0 0 0;

  text-align: right;
  font-size: 0.7rem;
  cursor: default;
}

.editorPlaceholder {
  position: absolute;
  top: 4.4rem;
  left: 0.7rem;

  color: var(--color-text-secondary);
  user-select: none;
  pointer-events: none;
}

.editorMarkdown {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-color: transparent;
  outline: none;
  border: none;
  resize: none;

  color: var(--color-text-primary);
  font-family: "Space Grotesk";
  line-height: 1.4rem;
}

.editorTextBold {
  font-weight: bolder;
}

.editorTextItalic {
  font-style: italic;
}

.editorTextUnderline {
  text-decoration: underline;
}

.editorTextStrikethrough {
  text-decoration: line-through;
}

.editorTextUnderlineStrikethrough {
  text-decoration: underline line-through;
}

.editorTextCode {
  @include textCode;
}

.editorLink {
  @include link;
}

.editorCode {
  @include code;
}

.editorHeadingH1 {
  @include h1;
}
.editorHeadingH2 {
  @include h2;
}
.editorHeadingH3 {
  @include h3;
}
.editorHeadingH4 {
  @include h4;
}
.editorHeadingH5 {
  @include h5;
}
.editorHeadingH6 {
  @include h6;
}
.editorQuote {
  @include quote;
}
.editorListOl {
  @include ol;
}
.editorListUl {
  @include ul;
}

.editorListItem {
  margin: 0.5rem 2rem;
}

.editorNestedListItem {
  list-style-type: none;
}

.toolbar {
  margin-right: 0.5rem;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;

  border-radius: 0.7rem;
  background: var(--color-bg-surface);

  @include tablet {
    height: 3rem;
    margin-right: auto;
    margin-block: 0.5rem;
    flex-direction: row;
  }
}

.toolbarItem {
  border: 0;
  display: flex;
  background: none;
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.toolbarItemDisabled {
  cursor: not-allowed;
}

.toolbarItemActive {
  background-color: var(--color-hover);
}

.toolbarItem:hover {
  background-color: var(--color-hover);
}

.toolbar hr {
  width: 100%;
  height: 2px;
  border: 0;
  margin: 0.25rem 0;
  background-color: var(--color-bg-base);

  @include tablet {
    width: 2px;
    height: 100%;
    margin: 0 0.25rem;
    align-self: stretch;
  }
}
