@use "@/styles/colors.scss" as c;

.sidebar {
  position: fixed;
  left: 0;
  top: 5rem;
  width: 18rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  list-style: none;

  .newNoteBtn {
    padding: 1rem;
    font-size: 1.2rem;
    color: c.$primary;
    margin: 0.5rem 0 0.5rem 0.5rem;
    gap: 1rem;
    border-radius: 2rem;
    border: 2px solid c.$primary;
    transition: background-color 0.1s linear;

    &:hover {
      background-color: c.$primary;
      color: var(--text-inverted);
    }

    .icon {
      font-size: 1.6rem;
      margin-left: 0.6rem;
    }
  }

  .sidebarItem {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-radius: 0 1.5rem 1.5rem 0;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: var(--hover-listitem);
    }

    .icon {
      font-size: 1.4rem;
      margin-left: 1.3rem;
    }
  }

  .active {
    color: c.$primary;
    background-color: var(--hover-button);
    &:hover {
      background-color: var(--hover-button);
    }
  }
}
