@use "@/styles/colors.scss" as c;

.sidebar {
  position: sticky;
  top: 5rem;
  width: 18rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  list-style: none;

  .newNoteBtn {
    padding: 0.4rem;
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    gap: 1rem;
    border-radius: 3rem;
    background-color: var(--color-accent-secondary);
    color: c.$neutral-800;

    & .icon {
      transition: background-color 0.1s linear;
    }

    &:hover .icon {
      background-color: c.$neutral-800;
      color: var(--color-accent-secondary);
    }

    .icon {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 0.6rem;
    }
  }

  .sidebarItem {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-radius: 0 1.5rem 1.5rem 0;
    text-decoration: none;
    color: var(--color-text-primary);

    &:hover {
      background-color: var(--color-hover);
    }

    .icon {
      font-size: 1.4rem;
      margin-left: 1.3rem;
    }
  }

  .text {
    transform: translateY(0.1rem);
  }

  .active {
    color: var(--color-accent-tertiary);
    background-color: var(--color-hover);
    &:hover {
      background-color: var(--color-hover);
    }
  }
}
