@use "@/styles/mixins.scss" as m;

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-overlay);
  z-index: 50;
}

.noteEditor {
  width: 650px;
  max-height: 85vh;
  position: fixed;
  top: 7rem;
  left: calc(50% - 650px / 2);
  z-index: 10000;
  display: flex;
}
