@use "@/styles/colors.scss" as c;
@use "@/styles/mixins.scss" as m;

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--shadow-background);
  z-index: 50;
}

.noteEditor {
  max-width: 650px;
  height: fit-content;
  position: fixed;
  top: 7rem;
  left: calc(50% - 650px / 2);
  z-index: 9999;
  display: flex;
}
