@use "@/styles/mixins.scss" as m;

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  transition: backdrop-filter 0.3s ease-in-out;

  &Container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m.desktop {
      width: 80%;
    }

    @include m.laptop {
      width: 90%;
    }

    @include m.tablet {
      width: 100%;
    }

    .logo {
      user-select: none;
      color: var(--color-text-primary);

      @include m.mobile {
        display: none;
      }
    }
  }

  &Secondary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    .headerBtn {
      font-size: 1.6rem;
      background-color: var(--color-text-inverted);
      border-radius: 0.5rem;
      transition: border-radius 0.3s ease-in-out;

      &:hover {
        border-radius: 50%;
      }
    }

    .menuBtnWrapper {
      width: 6rem;
      position: relative;

      .menuBtn {
        border-radius: 3rem;
        padding-inline: 2rem;
        transition:
          padding 0.3s ease-in-out,
          background-color 0.15s linear;
        margin: auto;
        background-color: var(--color-bg-inverted);
        color: var(--color-text-inverted);

        &:hover {
          padding-inline: 1.7rem;
          filter: brightness(110%);
        }
      }

      .menuListBtn {
        font-size: 1rem;
        width: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        background-color: var(--color-bg-surface);
      }

      .open {
        background-color: var(--color-accent-secondary);
        color: var(--color-text-primary);
      }
    }

    .userModalBtn {
      color: var(--color-text-inverted);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem;
      border-radius: 2rem;
      width: 2.8rem;
      height: 2.8rem;
      background-color: var(--color-bg-inverted);
      cursor: pointer;

      &:hover {
        background-color: var(--color-text-primary);
        opacity: 0.9;
      }
    }
  }
}

.scrolled {
  backdrop-filter: blur(12px);
}
