@use "./styles/mixins" as m;

.main {
  width: 70%;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  gap: 1rem;
  transition: transform 0.8s ease;

  .notesList {
    width: 100%;
  }
}

.moveRight {
  transform: translateX(calc(15vw));
}

@include m.tablet {
  .main {
    width: 100%;
    flex-direction: column;
    transform: none;
  }
}
