@use "./styles/colors.scss" as c;
@use "./styles/mixins.scss" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: c.$color-background;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font: {
    family: "Ndot-55", sans-serif;
    size: 3rem;
  }
}

p {
  line-height: 1.4rem;
}

input {
  outline: none;
  color: white;
  border: 0;
  background-color: transparent;
  font: {
    family: "Space Grotesk", sans-serif;
    size: 1rem;
  }
}

@font-face {
  src: url("./assets/fonts/Ndot-55.woff2") format("woff2"),
    url("./assets/fonts/Ndot-55.woff") format("woff");
  font: {
    family: "Ndot-55";
    weight: bold;
    style: normal;
    display: swap;
  }
}

@font-face {
  src: url("./assets/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./assets/fonts/SpaceGrotesk-Regular.woff") format("woff");
  font: {
    family: "Space Grotesk";
    weight: bold;
    style: normal;
    display: swap;
  }
}

@include m.tablet {
  .scrollLocked {
    overflow: hidden;
  }
}
