@use "./styles/colors.scss" as c;
@use "./styles/mixins.scss" as m;

html.dark {
  --color-text-primary: #{c.$white};
  --color-text-secondary: #{c.$neutral-500};
  --color-text-inverted: #{c.$neutral-800};

  --color-bg-base: #{c.$black};
  --color-bg-surface: #{c.$neutral-700};
  --color-bg-inverted: #{c.$neutral-100};
  --color-bg-code: #{c.$neutral-850};
  --color-bg-overlay: #{c.$neutral-900}cc;
  --color-border: #{c.$neutral-600};

  --color-hover: #{c.$neutral-700};

  --color-accent-primary: #{c.$red-500};
  --color-accent-secondary: #{c.$yellow-400};
  --color-accent-tertiary: #{c.$blue-500};
}

html.light {
  --color-text-primary: #{c.$neutral-800};
  --color-text-secondary: #{c.$neutral-500};
  --color-text-inverted: #{c.$white};

  --color-bg-base: #{c.$neutral-100};
  --color-bg-inverted: #{c.$black};
  --color-bg-surface: #{c.$white};
  --color-bg-code: #{c.$neutral-300};
  --color-bg-overlay: #{c.$neutral-200}cc;
  --color-border: #{c.$neutral-100};

  --color-hover: #{c.$neutral-200};

  --color-accent-primary: #{c.$red-500};
  --color-accent-secondary: #{c.$yellow-400};
  --color-accent-tertiary: #{c.$blue-500};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
  font-family: "Space Grotesk", sans-serif;

  background-color: var(--color-bg-base);
  background-image: radial-gradient(
    circle,
    color-mix(in oklab, var(--color-text-primary) 10%, transparent) 1px,
    transparent 1px
  );
  background-size: 14px 14px;
}

h1 {
  font: {
    family: "Ndot-55", sans-serif;
    size: 3rem;
  }
}

p {
  line-height: 1.4rem;
}

input {
  outline: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  font: {
    family: "Space Grotesk", sans-serif;
    size: 1rem;
  }
}

button {
  color: inherit;
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: "Space Grotesk";
}

@font-face {
  font-family: "Ndot-55";
  src:
    url("./assets/fonts/Ndot-55.woff2") format("woff2"),
    url("./assets/fonts/Ndot-55.woff") format("woff");
  font: {
    family: "Ndot-55";
    weight: bold;
    style: normal;
    display: swap;
  }
}

@font-face {
  src:
    url("./assets/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./assets/fonts/SpaceGrotesk-Regular.woff") format("woff");
  font : {
    family: "Space Grotesk";
    weight: 300;
    style: normal;
    display: swap;
  }
}

@font-face {
  src:
    url("./assets/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("./assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font: {
    family: "Space Grotesk";
    weight: bold;
    style: normal;
    display: swap;
  }
}

@include m.tablet {
  .scrollLocked {
    overflow: hidden;
  }
}
