@use "@/styles/colors.scss" as c;
@use "@/styles/common.scss" as cmn;

.noteCard {
  max-height: 30rem;
  background-color: var(--surface);
  border-radius: 1rem;
  padding: 1rem 1rem 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  user-select: none;
  margin-bottom: 1rem;
  break-inside: avoid;
  overflow-y: hidden;
  cursor: pointer;

  h2 {
    margin-bottom: 0.6rem;
    line-height: 1.6rem;
  }

  .noteBody {
    margin-bottom: auto;
    overflow-y: hidden;

    h1 {
      @include cmn.h1;
    }
    h2 {
      @include cmn.h2;
    }
    h3 {
      @include cmn.h3;
    }
    h4 {
      @include cmn.h4;
    }
    h5 {
      @include cmn.h5;
    }
    h6 {
      @include cmn.h6;
    }
    a {
      @include cmn.link;
    }
    // `text code`
    p code {
      @include cmn.textCode;
    }
    // ```code block```
    pre {
      @include cmn.codePreview;
    }
    // > quote
    blockquote {
      @include cmn.quotePreview;
    }
  }

  .noteCardToolbar {
    width: 100%;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.6rem;

    opacity: 0;

    .deleteBtn {
      &:hover {
        color: c.$primary;
      }
    }
  }

  .noteCardToolbarEnter {
    opacity: 0;
  }
  .noteCardToolbarEnterActive {
    transition: opacity 0.25s ease-in;
    opacity: 1;
  }
  .noteCardToolbarEnterDone {
    opacity: 1;
  }
  .noteCardToolbarExit {
    opacity: 1;
  }
  .noteCardToolbarExitActive {
    opacity: 0;
    transition: opacity 0.25s ease-out;
  }
}

.over {
  outline: 2px solid c.$primary;
}

.dragging {
  visibility: hidden;
}

.deleting {
  transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  opacity: 0;
  transform: scale(0.9);
  background-color: c.$primary;
}
